<div class="container tpl-levels" id="presale" >

    <div class="row mt-4 mb-4 pt-4 pb-4">
        <div class="col-md-8 offset-md-2">
            <h1 class="text-center font-weight-bolder">{{ lang.block_level.header }}</h1>
        </div>
    </div>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4">

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ lang.block_level.level }} 1</h5>
                    <p class="mb-0">
                        <span class="badge rarity common">{{ lang.block_level.rare_common }}</span>
                    </p>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pribil }}
                            <span>0.9</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.ubitok }}
                            <span>1.2</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pobeditel }}
                            <span>6</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-warning btn-block" onclick="eth.pay('1')" >{{ lang.block_level.kupitZa }} <span class="js-prices-1">0.01</span> BNB</button>                    
                </div>
                <div class="card-footer">
                    <p class="card-text mb-2 font-weight-bold text-center">{{ lang.block_level.itog }}</p>
                    <ul class="nav nav-pills nav-fill vladenie">
                        <li class="nav-item"><span>T1</span><span class="js-template-1">0</span></li>
                        <li class="nav-item"><span>T2</span><span class="js-template-2">0</span></li>
                        <li class="nav-item"><span>T3</span><span class="js-template-3">0</span></li>
                        <li class="nav-item"><span>T4</span><span class="js-template-4">0</span></li>                        
                    </ul>
                </div>
            </div>
        </div>

        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ lang.block_level.level }} 2</h5>
                    <p class="mb-0">
                        <span class="badge rarity rare">{{ lang.block_level.rare_rare }}</span>
                    </p>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pribil }}
                            <span>9</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.ubitok }}
                            <span>12</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pobeditel }}
                            <span>60</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-warning btn-block" onclick="eth.pay('2')" >{{ lang.block_level.kupitZa }} <span class="js-prices-2">0.1</span> BNB</button>                    
                </div>
                <div class="card-footer">
                    <p class="card-text mb-2 font-weight-bold text-center">{{ lang.block_level.itog }}</p>
                    <ul class="nav nav-pills nav-fill vladenie">
                        <li class="nav-item"><span>T1</span><span class="js-template-5">0</span></li>
                        <li class="nav-item"><span>T2</span><span class="js-template-6">0</span></li>
                        <li class="nav-item"><span>T3</span><span class="js-template-7">0</span></li>
                        <li class="nav-item"><span>T4</span><span class="js-template-8">0</span></li>                        
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ lang.block_level.level }} 3</h5>
                    <p class="mb-0">
                        <span class="badge rarity epic">{{ lang.block_level.rare_epic }}</span>
                    </p>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pribil }}
                            <span>90</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.ubitok }}
                            <span>120</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pobeditel }}
                            <span>600</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-warning btn-block" onclick="eth.pay('3')" >{{ lang.block_level.kupitZa }} <span class="js-prices-3">1.0</span> BNB</button>                    
                </div>
                <div class="card-footer">
                    <p class="card-text mb-2 font-weight-bold text-center">{{ lang.block_level.itog }}</p>
                    <ul class="nav nav-pills nav-fill vladenie">
                        <li class="nav-item"><span>T1</span><span class="js-template-9">0</span></li>
                        <li class="nav-item"><span>T2</span><span class="js-template-10">0</span></li>
                        <li class="nav-item"><span>T3</span><span class="js-template-11">0</span></li>
                        <li class="nav-item"><span>T4</span><span class="js-template-12">0</span></li>                        
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title mb-2">{{ lang.block_level.level }} 4</h5>
                    <p class="mb-0">
                        <span class="badge rarity legendary">{{ lang.block_level.rare_legendary }}</span>
                    </p>
                    <ul class="list-group mb-3">
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pribil }}
                            <span>900</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.ubitok }}
                            <span>1200</span>
                        </li>
                        <li class="list-group-item d-flex justify-content-between align-items-center border-0 py-2 px-0">
                            {{ lang.block_level.pobeditel }}
                            <span>6000</span>
                        </li>
                    </ul>
                    <button type="button" class="btn btn-warning btn-block" onclick="eth.pay('4')" >{{ lang.block_level.kupitZa }} <span class="js-prices-4">10.0</span> BNB</button>                    
                </div>
                <div class="card-footer">
                    <p class="card-text mb-2 font-weight-bold text-center">{{ lang.block_level.itog }}</p>
                    <ul class="nav nav-pills nav-fill vladenie">
                        <li class="nav-item"><span>T1</span><span class="js-template-13">0</span></li>
                        <li class="nav-item"><span>T2</span><span class="js-template-14">0</span></li>
                        <li class="nav-item"><span>T3</span><span class="js-template-15">0</span></li>
                        <li class="nav-item"><span>T4</span><span class="js-template-16">0</span></li>                        
                    </ul>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-12">

            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">{{ lang.block_level.table_th_speed }}</th>
                            <th scope="col">{{ lang.block_level.table_th_shild }}</th>
                            <th scope="col">{{ lang.block_level.table_th_damage }}</th>
                            <th scope="col">{{ lang.block_level.table_th_recharge }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" rowspan="2" style="vertical-align: middle;">Tank-1</th>
                            <td>100</td>
                            <td>100</td>
                            <td>50</td>
                            <td>500</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {{ lang.block_level.tank_1_desc }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="2" style="vertical-align: middle;" >Tank-2</th>
                            <td>200</td>
                            <td>160</td>
                            <td>100</td>
                            <td>250</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {{ lang.block_level.tank_2_desc }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="2" style="vertical-align: middle;" >Tank-3</th>
                            <td>200</td>
                            <td>220</td>
                            <td>50</td>
                            <td>50</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {{ lang.block_level.tank_3_desc }}
                            </td>
                        </tr>
                        <tr>
                            <th scope="row" rowspan="2" style="vertical-align: middle;" >Tank-4</th>
                            <td>190</td>
                            <td>330</td>
                            <td>120</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td colspan="5">
                                {{ lang.block_level.tank_4_desc }}
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
             

        </div>
    </div>

</div>